/* Base Application Styles */
body {
  /*color: #fff;*/
  background: #222;
}
.navbar-default.navbar-static-top{
  background: #e51c23;
  
}
.navbar-default.navbar-static-top a {
  color: white;
}
.navbar-default.navbar-static-top li>a {
  color: black;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.panel {
  background-color: transparent;
}
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 50%;
    padding-top: 8px;
}

.container-fluid {
    position: relative;
}

.panel {
  color: black;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
