/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.panel {
  background-color: transparent;
}
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.container-fluid {
    position: relative;
}

.panel {
  color: black;
}

#bha-title {
  color: black;
}